*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}

body{
background:#f8f5f0;
color:#444;
line-height:1.8;
}

.hero{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
padding:20px;
background:linear-gradient(
to bottom,
#faf6ef,
#f5ede1
);
}

.hero h1{
font-size:4rem;
color:#7c5c3b;
}

.subtitle{
margin-top:15px;
font-size:1.2rem;
}

section{
max-width:900px;
margin:auto;
padding:70px 20px;
}

h2{
margin-bottom:20px;
color:#7c5c3b;
}

.card{
background:white;
padding:25px;
border-radius:20px;
margin-bottom:20px;
box-shadow:0 10px 25px rgba(0,0,0,0.08);
transition:0.3s;
}

.card:hover{
transform:translateY(-5px);
}

ul{
padding-left:20px;
}

footer{
text-align:center;
padding:40px;
background:#eee4d6;
}

.final{
background:white;
border-radius:25px;
box-shadow:0 10px 25px rgba(0,0,0,0.08);
margin-bottom:50px;
}
